:root{
    --color-white:#fff;
    --color-green5:#a4dab9;
    --color-green8:#edfff4;
    --color-red: red;
    --color-black:#000;
    --color-blue7:#93c3e6;
    --shadow-color: #00000034;
    --font-weight-md: 500;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  font-family: "Montserrat", serif;
  line-height: 1;
  background-color: var(--color-green8);
  min-width: 320px;
}

a{
    text-decoration: none;
    color: var(--color-black);
}

.homepage{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-green5);
    height: 100px;
    padding: 10px 25px;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px var(--shadow-color);
}

.navbar__logo{
    width: 100px;
    filter: drop-shadow(0px 0px 5px var(--shadow-color));
}

.navbar__navlinks{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: var(--font-weight-md);
}

.navbar__buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn--mode,.btn--dropdown{
    padding: 10px;
    background-color: var(--color-green5);
    border: 2px solid var(--color-white);
    border-radius: 10px;
}

.icon--mode,.icon--menu{
    width: 35px;
}

.btn--dropdown{
    display: none;
}

.mainsection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    width: 70%;
    margin: auto;
}

.mainsection__heading{
    font-size: 3rem;
    font-weight: bold;
}

.mainsection__stylingbtns{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

#mainsection__input{
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    font-size: 1.5rem;
}

.btn--textstyling{
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    position: relative;
    font-size: 1.2rem;
    font-weight: var(--font-weight-md);
    min-width: 50px;
    padding: 10px;
    background-color: #BCEAD5;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px var(--shadow-color);
}

.btn--textstyling:nth-child(6){
    text-decoration: line-through;
}

.mainsection__operationbtns{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.mainsection__operationbtns > button{
    padding: 15px 20px;
}

sup {
    font-size: 90%;
    margin: 0;
    padding: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    position: absolute;
}
sup {
    top: -0.5em;
}

.sup--uparrow{
    top: 0.9em;
    right: 0.5em;
}

.sup--downarrow{
    top: 0.45em;
    right: 0.6em;
}

button{
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar__navlinks{
        display: none;
    }
    .btn--dropdown{
        display: flex;
    }
}